body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

div {
  box-sizing: border-box;
}

.container {
  padding: 40px 30px;
  max-width: 1050px;
  margin: 0 auto;
}

@media (max-width: 450px) {

  .container {
    padding: 20px 20px;
  }
}