body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.img_wrap_container {
  display: flex;
  gap: 20px;
}

.img_container {
  width: 388px;
  height: 388px;
}

.img_container img {
  width: 100%;
}

.Right_container {
  width: 480px;
}

.Right_container h2 {
  font-size: 18px;
}

.margin_b {
  margin-bottom: 10px;
}

.count_text {
  color: rgb(69, 69, 255);
}

.border01 {
  height: 2px;
  background-color: #ccc;
}

.price {
  font-size: 20px;
  padding: 12px 0;
}

.price_p1 {
  font-size: 14px;
}

.price_p2 {
  color: #768695;
}

.price_p2 span:first-child {
  font-weight: 700;
}

.price_p3 {
  color: #cb1400;
}

.price_p3 span:first-child {
  font-weight: 700;
}

.text_cont {
  margin: 10px 0;
}

.text_bold {
  font-weight: 700;
  font-size: 12px;
}

.text_color {
  color: rgb(0, 110, 0);
  font-weight: 700;
  font-size: 14px;
}

.supplier {
  padding: 10px 0;
  font-size: 12px;
}

.supplier_span {
  color: #346aff;
}

.count_box {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.shoeSize {
  margin-bottom: 4px;
  font-size: 12px;
}

.shoeColor {
  margin-top: 10px;
}

.text_cont02 {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin: 10px 0;
}

.text_cont02 p:first-child,
.text_cont02 p:nth-child(3) {
  font-weight: 700;
}

.text_cont02 p:nth-child(3) {
  color: #346aff;
}

.text_cont03 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.text_cont03_input {
  height: 42px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0;
}

.cart_btn {
  font-size: 16px;
  font-weight: bold;
  border-radius: 0;
  width: 191px;
  height: 42px;
  line-height: 40px;
}

.c_white {
  color: #1677ff;
  border: 1px solid #1677ff;
}

@media (max-width: 450px) {

  .img_wrap_container {
    display: block;
  }

  .ImageComp_container {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;    
  }

  .img_container {
    width: 300px;
    height: 300px;
  }

  .Right_container {
    width: 330px;
  }

  .Right_container h2 {
    margin-bottom: 5px;
  }

  .price {
    font-size: 15px;
  }

  .price_p1 {
    font-size: 12px;
  }

  .count_text {
    font-size: 12px;
  }

  .text_cont02 {
    font-size: 11px;
  }

  .cart_btn {
    font-size: 12px;
    width: 108px;
    height: 28px;
  }

  .text_cont03_input {
    height: 28px;
    font-size: 11px;
  }
}