.wrap {
  width: 100%;
}

.box {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrap2 {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
}