.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.darkblue {
  background-color: darkblue;
}

.purple {
  background-color: purple;
}